@media only screen and (max-width:1299px) {
  header {
    width: 100%;
    padding: 0 3rem;
    .menu-bars {
      display: flex;
      font-size: 28px;
    }
    nav {
      position: absolute;
      top: 100px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 100px);
      padding-top: 5rem;
      backdrop-filter: 20%;
      .navigation {
        height: 60%;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        li > a {
          font-size: 20px;
        }
      }
    }
    .responsive {
      left:0;
    }
    .header__btn {
      display: none;
    }
  }
}