@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'variable';
@import 'all';
@import './sections/header.scss';
@import 'media.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  position: relative;

}